<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">


<body>
  <nav class="navigation">
    <div class="nav-container">
      <div class="main-title">
        <h1 class="title">As Yet Unnamed Food Blog</h1>
      </div>
      <ul class="links">
        <li class="nav-link" id="home"><a href="/">HOME</a></li>
        <li class="nav-link" id="about"><a href="/about">ABOUT US</a></li>
        <li class="nav-link" id="contact"><a href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <hr class="divider">
  </div>
  <div class="container">