<%- include("partials/header"); -%>

<div class="card">
    <h1>About</h1>
    <p> So a little bit more about who we are what this is and hopefully what it will all be about. so as I said in the
        home blurb the site itself is made by myself (Alistair) it was made as a project while learning web development.
        I figured it would be fun to actually make use of it so convinced Rhiannon to help me write a little food blog.
        We met while living in Bristol (UK) and something we have always really enjoyed together is trying new and
        interesting restaurants and food as well as cooking a lot ourself. Naturally because of this a food blog seemed
        like the perfect choice, predominantly the blog posts will concern food we have eaten at restaurants but other
        subjects might crop up from time to time. We are also a big fan of cocktails so some of the more interesting and
        experimental examples of those that we have tried will crop up as well. </p>
    <p>Something else that will feature heavily is our travels as we try to get away regularly and honestly a lot of the
        decision making on where to go is based around the food that we might try when we are there. </p>
    <p>Most of the post will be written from the perspective of Rhiannon as she is the much more proficient writer of
        the two of us. The process will largely be me spouting of my thoughts and opinions will Rhiannon trys to put
        them together into something coherent and interspersed with her own feelings.</p>
    <p>In regards to the future of the blog itself there are plans to make it a lot more visually interesting in the
        future and add a lot of extra little features the main purpose of it was to create a site with database
        interaction with a focus on the mechanics behind the site. So as we go forward the visuals will change but we
        wanted to get it up and start getting our content out there.</p>
    <p>I hope you enjoy and find interesting what we have to say.</p>
</div>

<%- include("partials/footer"); -%>